<!DOCTYPE html>
<html class='' lang="">
<head>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <th:block th:replace="layout-admin :: link-css"></th:block>
    <title>Chat với Khách Hàng</title>
    <link rel="stylesheet" href="/css/css-seafood/chat-admin.css">
</head>
<body id="page-top">
<div id="wrapper">
    <th:block th:replace="layout-admin :: header"></th:block>
    <div id="content-wrapper" >
        <div id="content"class="mb-lg-5">
            <th:block th:replace="layout-admin :: nav"></th:block>
            <div class="container">
                <h3 class="text-center mb-lg-5 mt-lg-5" style="font-weight: bold">Chat với khách hàng</h3>
                <div class="messaging" style="min-width: 1030px">
                    <div class="inbox_msg">
                        <div class="inbox_people">
                            <div class="headind_srch">
                                <div class="recent_heading">
                                    <h4>Danh sách</h4>
                                </div>
                                <div class="srch_bar">
                                        <input type="text" class="search-bar" placeholder="Tìm kiếm ...">
                                        <span class="input-group-addon">
                                        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                        </span>
                                </div>
                            </div>
                            <div class="inbox_chat" id="connectedUsers">

                            </div>
                        </div>
                        <div class="mesgs">
                            <div class="msg_history" id="chat-messages">

                            </div>
                            <form id="messageForm" name="messageForm">
                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <input type="text" id="message" class="write_msg" placeholder="Aa ..."/>
                                        <button class="msg_send_btn" type="submit"><i class="fas fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <th:block th:replace="layout-admin :: footer"></th:block>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chat-admin.js"></script>
</body>
</html>