<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/699d350e7a.js" crossorigin="anonymous"></script>
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/signin-up.css}">
</head>
<body>
<div class="wrapper">
  <div class="title-text">
    <div class="title login">Xin chào</div>
    <div class="title signup">Chào mừng</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login">Đăng nhập</label>
      <label for="signup" class="slide signup">Đăng ký</label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <form action="#" class="login">
        <div class="field">
          <input type="text" id="usernameOrEmail" placeholder="Tên tài khoản hoặc Email" required="">
        </div>
        <div class="field">
          <input type="password" id="login-password" placeholder="Mật khẩu" required="">
        </div>
        <div class="pass-link"><a href="#">Quên mật khẩu?</a></div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="button" onclick="login()" value="Đăng nhập">
        </div>
        <div class="signup-link">Chưa là thành viên? <a href="">Đăng ký ngay</a></div>
        <!-- Thêm nút Google -->
        <p class="text-center mt-2">hoặc</p>
        <a href="/oauth2/authorization/google" role="button" class="btn-google">
          <i class="fa-brands fa-google"></i> Đăng nhập bằng Google
        </a>
      </form>

      <form action="#" class="signup">
        <div class="field">
          <input type="text" id="fullname" placeholder="Họ và tên" required>
        </div>
        <div class="field">
          <input type="text" id="username" placeholder="Tên tài khoản" required>
        </div>
        <div class="field">
          <input type="text" id="email" placeholder="Địa chỉ email" required>
        </div>
        <div class="field">
          <input type="text" id="phone" placeholder="Số điện thoại" required>
        </div>
        <div class="field">
          <input type="password" id="password" placeholder="Mật khẩu" required>
        </div>
        <div class="field">
          <input type="password" id="confirmPassword" placeholder="Nhập lại mật khẩu" required>
        </div>
        <div id="passwordMatchError" style="color: red; display: none;">Mật khẩu không khớp!</div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="button" onclick="validatePassword()" value="Đăng ký">
        </div>
      </form>
    </div>
  </div>
</div>
<script th:src="@{/js/login-register.js}" ></script>
<script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");
  signupBtn.onclick = (()=>{
    loginForm.style.marginLeft = "-50%";
    loginText.style.marginLeft = "-50%";
  });
  loginBtn.onclick = (()=>{
    loginForm.style.marginLeft = "0%";
    loginText.style.marginLeft = "0%";
  });
  signupLink.onclick = (()=>{
    signupBtn.click();
    return false;
  });
</script>
</body>
</html>
