<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<style>
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    .pagination li {
        margin: 0 5px;
    }

    .pagination li a {
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        color: #6f6f6f;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    }

    .pagination li a:hover {
        background-color: #b2b2b2; /* Màu xanh khi hover */
        color: #fff;
        border-color: #b2b2b2;
    }

    .pagination .active a {
        background-color: #0069d9; /* Màu xanh đậm hơn cho trang hiện tại */
        color: white;
        border-color: #0069d9;
    }

    .pagination .disabled a {
        color: #6c757d; /* Màu xám cho trang không hoạt động */
        pointer-events: none;
        cursor: default;
    }

</style>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container-fluid  mt-100" style="margin-top:100px; margin-bottom: 50px" th:if="${#lists.isEmpty(cart)}">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div >
                    <div class="col-sm-12 empty-cart-cls text-center">
                        <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>Giỏ Hàng Trống !</strong></h3>
                        <h4>Hãy thêm một vài sản phẩm để mua sắm ngay nào :)</h4>
                        <a href="/seafood/list" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Tiếp tục Mua Sắm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad" th:unless="${#lists.isEmpty(cart)}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table" >
                    <table>
                        <thead>
                        <tr>
                            <th class="shoping__product">Mặt hàng</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tổng cộng</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="item : ${cart}">
                        <tr th:data-item-id="${item.getSeafoodId()}">
                            <td class="shoping__cart__item">
                                <img th:src="${item.getImage()}" alt="">
                                <h5 th:text="${item.getSeafoodName()}" style="font-weight: bold"></h5>
                            </td>
                            <td class="shoping__cart__price price-value" th:text="${item.getPrice()} + '₫'"></td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" th:value="${item.getQuantity()}">
                                    </div>
                                </div>
                            </td>
                            <td class="shoping__cart__total price-value" th:text="${(item.getPrice()) * (item.getQuantity())} + '₫'">

                            </td>
                            <td>
                            <a class="shoping__cart__item__close btn btn-sm" th:href="@{'/cart/removeFromCart/' + ${item.getSeafoodId()}}"
                                onclick="return confirm('Xóa sản phẩm này khỏi giỏ hàng?')">
                                <i class="fas fa-times" style="color:red"></i>
                            </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- Phân trang -->
        <ul class="pagination cart-btn" th:if="${totalPages > 1}">
            <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:attr="href=${currentPage > 0} ? '/cart?page=' + (${currentPage} - 1) : '#'" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
                <a class="page-link" th:href="@{|/cart?page=${page}|}" th:text="${page + 1}"></a>
            </li>
            <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:attr="href=${currentPage < totalPages - 1} ? '/cart?page=' + (${currentPage} + 1) : '#'" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/seafood/list" class="primary-btn cart-btn">Quay lại</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right" id="updateButton"><span class="icon_loading"></span>
                        Cập nhật</a>
                    <a href="/cart/clearCart" class="primary-btn btn-danger cart-btn cart-btn-right mr-2" style="background-color:#dc3545 ; color:black" onclick="return confirm('Bạn có chắc chắn muốn xóa tất cả sản phẩm có trong giỏ hàng không?');">
                        Xóa giỏ hàng
                    </a>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Mã giảm giá</h5>
                        <form onsubmit="return false;">
                            <input id="promotionCode" type="text" placeholder="Nhập mã giảm giá ở đây">
                            <button type="submit" class="site-btn" onclick="applyPromotionCode()">ÁP DỤNG</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Tổng quan</h5>
                    <ul>
                        <li>Số lượng sản phẩm <span th:text="${totalQuantity}"></span></li>
                        <li>Tổng tiền <span class="price-value" id="totalPrice" th:text="${totalPrice}">0</span> ₫</li>
                        <li>Giảm giá <span class="price-value" id="totalDiscount">0</span> ₫</li>
                        <li>Tổng tiền <span class="price-value" id="totalPay" th:text="${totalPrice}">0</span> ₫</li>
                    </ul>
                    <a href="/cart/checkout" class="primary-btn">Tiếp tục</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
<th:block th:replace="layout :: footer"></th:block>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var updateButton = document.getElementById("updateButton");

        updateButton.addEventListener("click", function () {
            // Reload trang khi nút "Cập nhật" được click
            location.reload();
        });
    });
</script>
<script>
    var proQty = $('.pro-qty');
    proQty.prepend('<span class="dec qtybtn">-</span>');
    proQty.append('<span class="inc qtybtn">+</span>');
    proQty.on('click', '.qtybtn', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').val();
        var newVal;
        if ($button.hasClass('inc')) {
            newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
        }
        $button.parent().find('input').val(newVal);

        // Get the item ID
        var itemId = $button.closest('tr').data('item-id'); // Ensure your items have a data-item-id attribute

        // Construct the URL for the GET request
        var updateUrl = '/cart/updateCart/' + itemId + '/' + newVal; // Update with your actual URL structure

        // Send a GET request to update the cart
        $.get(updateUrl, function(data) {
            // Handle the response if needed
            console.log('Cart updated');
        }).fail(function(error) {
            console.log('Error updating cart: ', error);
            // Handle errors here
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const totalDiscount = localStorage.getItem('totalDiscount');
    const totalPay = localStorage.getItem('totalPay');
        let totalPrice = localStorage.getItem('totalPrice');
        if (!totalPrice) {
            let displayedTotalPrice = document.getElementById('totalPrice').textContent.trim();
            totalPrice = displayedTotalPrice.replace(/\.+/g, '');
            localStorage.setItem('totalPrice', totalPrice);
            localStorage.setItem('totalPay', totalPrice);
        } else {
            const formattedTotalPrice = totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            document.getElementById('totalPrice').textContent = formattedTotalPrice + ' ₫';
        }
    if (totalDiscount != null && totalPay != null && totalPrice != null) {
        document.getElementById('totalDiscount').textContent = parseFloat(totalDiscount).toLocaleString('vi-VN');
        document.getElementById('totalPay').textContent = parseFloat(totalPay).toLocaleString('vi-VN');
        document.getElementById('totalPrice').textContent = parseFloat(totalPrice).toLocaleString('vi-VN');
    }
});

function applyPromotionCode() {
        const promotionCode = document.getElementById('promotionCode').value;
        if (!promotionCode) {
            alert('Vui lòng nhập mã giảm giá!');
            return;
        }

        $.ajax({
            url: 'api/promotions/apply/' + promotionCode,
            method: 'POST',
            success: function(response) {
                // Cập nhật trên giao diện
                document.getElementById('totalDiscount').textContent = parseFloat(response.totalDiscount).toLocaleString('vi-VN');
                document.getElementById('totalPay').textContent = parseFloat(response.totalPay).toLocaleString('vi-VN');

                localStorage.setItem('totalDiscount', response.totalDiscount);
                localStorage.setItem('totalPay', response.totalPay);
                localStorage.setItem('totalPrice', response.totalPrice);
                localStorage.setItem('promotionCode', promotionCode);
                alert('Mã giảm giá đã được áp dụng thành công!');
            },
            error: function(xhr, status, error) {
                alert('Không thể áp dụng mã giảm giá: ' + xhr.responseText);
            }
        });
    }

</script>
</body>
</html>