<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán</title>
    <th:block th:replace="layout :: link-css"></th:block>

</head>
<th:block th:replace="layout :: header"></th:block>

<body>
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Chi tiết đơn hàng</h4>
            <form id="checkoutForm" method="post" th:action="@{/api/checkout}" th:object="${checkoutRequest}">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <!-- Địa chỉ -->
                        <div class="checkout__input">
                            <p>Địa chỉ<span>*</span></p>
                            <input id="addressInput" type="text" th:field="*{address}" placeholder="Địa chỉ giao hàng"
                                   class="checkout__input__add">
                        </div>
                        <!-- Ghi chú đơn hàng -->
                        <div class="checkout__input">
                            <p>Ghi chú đơn hàng<span></span></p>
                            <input type="text" th:field="*{note}"
                                   placeholder="Ghi chú chỉ dẫn giao hàng hoặc lưu ý cho shop.">
                        </div>
                        <!-- Phương thức thanh toán -->
                        <div class="checkout__input">
                            <p>Phương thức thanh toán</p>
                            <div class="form-group">
                                <select id="paymentMethod" class="form-control" onchange="togglePaidPercentage()">
                                    <option style="font-weight: bold" value="COD">Thanh toán khi nhận hàng (COD)</option>
                                    <option style="font-weight: bold" value="VNPay">Thanh toán trực tuyến (ONLINE)</option>
                                </select>
                            </div>
                        </div>
                        <!-- END Phương thức thanh toán                  -->
                        <!-- Cọc -->
                        <div class="checkout__input paid" id="paidPercentageDiv" style="display: none;">
                        <p>Thanh toán trả trước</p>
                            <div class="form-group">
                                <select id="paidPercentage" class="form-control">
                                    <option style="font-weight: bold" value="">Chọn mức trả trước</option>
                                    <option style="font-weight: bold" value="0.5">50%</option>
                                    <option style="font-weight: bold" value="0.7">70%</option>
                                </select>
                            </div>
                        </div>
                        <!--END Cọc -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <div class="checkout__order__products">Sản phẩm <span>Tổng</span></div>
                            <ul id="cartItems" th:each="item, status : ${cartItems}">
                                <li th:id="${'cartItem-' + status.index}" th:data-seafood-id="${item.seafoodId}"
                                    th:data-quantity="${item.quantity}" th:data-price="${item.price}">
                                    <th:block th:text="${item.seafoodName}"></th:block>
                                    <span class="price-value" th:text="${(item.price * item.quantity)}"></span>
                                </li>
                            </ul>
                            <div class="checkout__order__subtotal">Số lượng<span th:text="${totalQuantity}"></span>
                            </div>
                            <div class="checkout__order__total">Tổng tiền<span class="price-value"
                                                                               th:text="${totalPrice}"></span> ₫
                            </div>
                            <div class="checkout__order__total">Tổng giảm giá<span id="displayTotalDiscount" class="price-value">0</span> ₫</div>
                            <div class="checkout__order__total">Tổng thanh toán<span id="displayTotalPay" class="price-value">0</span> ₫</div>

                            <button type="submit" id="placeOrderBtn" class="site-btn">Đặt Hàng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    function togglePaidPercentage() {
        const paymentMethod = document.getElementById('paymentMethod').value;
        const paidPercentageDiv = document.getElementById('paidPercentageDiv');

        if (paymentMethod === 'VNPay') {
            paidPercentageDiv.style.display = 'block';
            document.getElementById('paidPercentage').setAttribute('required', 'required');
        } else {
            paidPercentageDiv.style.display = 'none';
            document.getElementById('paidPercentage').removeAttribute('required');
        }
    }
    document.getElementById('paidPercentage').addEventListener('change', function() {
        let paidPercentage = parseFloat(this.value);
        if (isNaN(paidPercentage)) {
            paidPercentage = 0;
        }
        const totalPay = parseFloat(localStorage.getItem('totalPay'));
        if (!isNaN(totalPay)) {
            let totalToDisplay;
            if (paidPercentage === 0) {
                totalToDisplay = totalPay;
            }else{
                const totalPaid = totalPay * paidPercentage;
                totalToDisplay = totalPaid;
                localStorage.setItem('paidPercentage', paidPercentage.toString());
                localStorage.setItem('totalPaid', totalPaid.toString());
            }
            // Cập nhật giao diện người dùng
            $('#displayTotalPay').text(totalToDisplay.toLocaleString('vi-VN'));
        }
    });


    $(document).ready(function () {
        const totalDiscount = parseFloat(localStorage.getItem('totalDiscount'));
        const totalPay = parseFloat(localStorage.getItem('totalPay'));
        const totalPaid = parseFloat(localStorage.getItem('totalPaid'));

        if (totalDiscount !== null)
            $('#displayTotalDiscount').text(totalDiscount.toLocaleString('vi-VN'));
        if (totalPay !== null)
            $('#displayTotalPay').text(totalPay.toLocaleString('vi-VN'));
        if(localStorage.getItem('totalPaid') !== null)
            $('#displayTotalPay').text(totalPaid.toLocaleString('vi-VN'));
        // Lắng nghe sự kiện click của nút đặt hàng
        $("#placeOrderBtn").click(function (event) {
            event.preventDefault();
            const address = $('#addressInput').val(); // Lấy giá trị từ trường địa chỉ
            // Kiểm tra xem địa chỉ có trống hay không
            if (!address) {
                alert('Vui lòng nhập địa chỉ giao hàng.');
                return;
            }
            getUserInfo(function (userId) {
                if (userId) {
                    const paymentMethod = $('#paymentMethod').val();
                    if (paymentMethod === 'VNPay') {
                        initiateVNPayPayment(userId); // Gọi hàm thanh toán VNPay
                    } else {
                        processOrder(userId); // Gọi hàm thanh toán thông thường
                    }
                } else {
                    alert('Bạn cần đăng nhập để sử dụng chức năng này');
                }
            });
        });
        function getUserInfo(callback) {
            $.ajax({
                url: '/check-login',
                method: 'GET',
                success: function (data) {
                    if (data.authenticated) {
                        callback(data.userId);
                    } else {
                        callback(null);
                    }
                },
                error: function (err) {
                    console.error("Error checking authentication status: ", err);
                    callback(null);
                }
            });
        }
        function getBillDetails() {
            const billDetails = [];
            $('#cartItems li').each(function () {
                const item = $(this);
                billDetails.push({
                    seafood: {id: item.data('seafood-id')},
                    quantity: item.data('quantity'),
                    price: item.data('price')
                });
            });
            return billDetails;
        }
        // Hàm xử lý đặt hàng bình thường
        function processOrder(userId) {
            $("#placeOrderBtn").prop('disabled', true);
            const billData = {
                userId: userId,
                totalPrice: localStorage.getItem('totalPrice'),
                discount: localStorage.getItem('totalDiscount'),
                totalPay: localStorage.getItem('totalPay'),
                note: $('#note').val(),
                address: $('#addressInput').val(),
                paymentMethod: "COD",
                billDetails: getBillDetails(),
            };
            $.ajax({
                type: "POST",
                url: "/api/checkout",
                contentType: "application/json",
                data: JSON.stringify(billData),
                success: function () {
                    alert("\n                              ĐẶT HÀNG THÀNH CÔNG !\n\n" +
                        "Đơn hàng của bạn sẽ được sắp xếp và giao đến cho bạn trong thời gian sớm nhất.");
                    window.location.href = "/";
                    localStorage.clear();
                    clearCartSession();
                },
                error: function (error) {
                    console.error("Error during checkout: ", error);
                    $("#placeOrderBtn").prop('disabled', false);
                }
            });
        }
        // Hàm khởi tạo thanh toán VNPay
        function initiateVNPayPayment(userId) {
            localStorage.setItem('userId', userId);
            localStorage.setItem('billDetails', JSON.stringify(getBillDetails()));
            localStorage.setItem('note', $('#note').val());
            localStorage.setItem('address', $('#addressInput').val());
            localStorage.setItem('paymentInitiated', 'true');
            const totalPaid = localStorage.getItem('totalPaid');
            let price = localStorage.getItem('totalPay');
            if (totalPaid && totalPaid !== '0') {
                price = totalPaid;
            }
            $.ajax({
                type: "GET",
                url: `/api/payment/create_payment?totalPrice=${price}`,
                success: function (response) {
                    if (response.status === "OK") {
                        window.location.href = response.url;
                    } else {
                        // Xử lý trường hợp lỗi nếu cần
                        console.error("Error during VNPay payment initiation: ", response.message);
                        $("#placeOrderBtn").prop('disabled', false);
                    }
                },
                error: function (error) {
                    console.error("Error during VNPay payment initiation: ", error);
                    $("#placeOrderBtn").prop('disabled', false);
                }
            });
        }
        if (localStorage.getItem('paymentInitiated') === 'true') {
            checkVNPayPayment();
            localStorage.removeItem('paymentInitiated'); // Xóa trạng thái đã lưu
        }
        function checkVNPayPayment() {
            const urlParams = new URLSearchParams(window.location.search);
            const responseCode = urlParams.get('vnp_ResponseCode');
            if (responseCode === '00') {
                console.log("Thanh toán VNPay thành công");
                const billData = {
                    userId: localStorage.getItem('userId'),
                    totalPrice: localStorage.getItem('totalPrice'),
                    note: localStorage.getItem('note'),
                    address: localStorage.getItem('address'),
                    discount: localStorage.getItem('totalDiscount'),
                    totalPay: localStorage.getItem('totalPay'),
                    paidPercentage: localStorage.getItem('paidPercentage'),
                    totalPaid: localStorage.getItem('totalPaid'),
                    paymentMethod: "Ví VNPay",
                    billDetails: JSON.parse(localStorage.getItem('billDetails')),
                };
                console.log(billData);
                // Gửi yêu cầu lưu hóa đơn
                $.ajax({
                    type: "POST",
                    url: "/api/checkout",
                    contentType: "application/json",
                    data: JSON.stringify(billData),
                    success: function () {
                        clearCartSession();
                        localStorage.clear();
                        window.location.href = "/";
                        console.log("Lưu hóa đơn thành công");
                        alert("\n                              ĐẶT HÀNG THÀNH CÔNG !\n\nĐơn hàng của bạn sẽ được sắp xếp và giao đến cho bạn trong thời gian sớm nhất.");
                    },
                    error: function (error) {
                        console.error("Error during checkout: ", error);
                    }
                });
            } else {
                console.error('VNPay payment failed with response code: ' + responseCode);
            }
        }
        function clearCartSession() {
            $.ajax({
                type: "GET",
                url: "/api/clearCart",
                success: function () {
                    console.log("Cart session cleared");
                },
                error: function (error) {
                    console.error("Error clearing cart session: ", error);
                }
            });
        }
    });
</script>
<th:block th:replace="layout :: footer"></th:block>

</body>
</html>