<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm Quyền Mới</title>
    <th:block th:replace="layout-admin :: link-css"></th:block>
    <!-- Thêm các liên kết CSS cần thiết ở đây -->
</head>
<body id="page-top">
<div id="wrapper">
    <th:block th:replace="layout-admin :: header"></th:block>
    <div id="content-wrapper">
        <div id="content">
            <th:block th:replace="layout-admin :: nav"></th:block>
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="font-weight-bold text-primary">Thêm Quyền Mới</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/add-role}" th:object="${role}" method="post">
                            <div class="form-group">
                                <label for="name">Tên Quyền</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Nhập tên quyền">
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></p>
                            </div>
                            <div class="form-group">
                                <label for="description">Mô Tả</label>
                                <textarea th:field="*{description}" class="form-control" id="description" rows="3" placeholder="Nhập mô tả"></textarea>
                                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-message"></p>
                            </div>
                            <button type="submit" class="btn btn-primary">Thêm Quyền</button>
                        </form>
                    </div>

                </div>
            </div>
            <th:block th:replace="layout-admin :: footer"></th:block>
        </div>
    </div>
</div>

<!-- Liên kết đến các file JavaScript cần thiết -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/datatables-demo.js"></script>
</body>
</html>
