<!DOCTYPE html>
<html lang="vi" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hải Sản Xanh</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<th:block th:replace="layout :: header"></th:block>
<body>
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all" id="categoryButton">
                        <i class="fas fa-bars"></i>
                        <span>Danh mục</span>
                    </div>
                    <ul id="categoryList" class="category-list" style="display: none;">
                        <!-- Danh sách thể loại sẽ được cập nhật từ API -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form>
                            <input id="searchInputIndex" type="text" placeholder="Bạn cần tìm kiếm gì ?">
                            <button id="searchButtonIndex" type="submit" class="site-btn">Tìm kiếm</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="img/banner/banner-hero.jpg">
        <div class="hero__text">
            <span>Hải sản tươi sống</span>
            <h2>Chất lượng <br />100% độ uy tín</h2>
            <p>Còn ngại gì mà không mua sắm ngay nào</p>
            <a href="/seafood/list" class="primary-btn">Mua ngay</a>
        </div>
    </div>
        <hr>
    </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider" id="categorySlider">
                <!-- Danh sách thể loại sẽ được cập nhật từ API -->
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<div class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Mặt hàng mới</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Tất cả</li>
                        <li data-filter="1">Cá</li>
                        <li data-filter="2">Tôm</li>
                        <li data-filter="3">Mực</li>
                        <li data-filter="4">Cua/Ghẹ</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter" id="seafoodList">
<!--            gọi api hiển thị seafoods-->
        </div>
    </div>

</div>
<!-- Featured Section End -->
<!-- Banner Begin -->
<hr>
<div class="banner mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/img/banner/banner-1.jpg" alt="" style="border-radius: 15px">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/img/banner/banner-2.png" alt="" style="border-radius: 15px">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Js Plugins -->
<th:block th:replace="layout :: footer"></th:block>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const seafoodList = document.getElementById('seafoodList');
        const filterItems = document.querySelectorAll('.featured__controls li');
        const maxProducts = 8;

        // Hàm hiển thị sản phẩm
        function displaySeafood(seafood) {
            const column = document.createElement('div');
            column.className = 'col-lg-3 col-md-4 col-sm-6 mix';
            column.innerHTML = `
            <div class="featured__item" data-category="${seafood.category.id}">
                <div class="featured__item__pic">
                    <a href="/seafood/${seafood.id}">
                        <img src="${seafood.mainImage}" alt="Seafood Image">
                    </a>
                    <ul class="featured__item__pic__hover">
                        <li><button><i class="fas fa-heart"></i></button></li>
                        <li>
                            <button class="addToCartButton" onclick="updateCartItemCount()">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a href="/seafood/${seafood.id}" title="${seafood.name}">${seafood.name}</a></h6>
                    <h5>${seafood.price.toLocaleString('vi-VN')} ₫</h5>
                </div>
            </div>`;
            seafoodList.appendChild(column);
            // Gán sự kiện click cho nút thêm vào giỏ hàng sau khi thêm vào DOM
            const addToCartButton = column.querySelector(".addToCartButton");
            addToCartButton.addEventListener("click", function() {
                const confirmation = confirm('Bạn có muốn thêm sản phẩm này vào giỏ hàng?');
                if (confirmation) {
                    addToCart(seafood.id, seafood.name, seafood.price, seafood.mainImage, 1, seafood.category.name);
                }
            });
        }

        // Hàm lọc sản phẩm theo category
        function filterSeafood(categoryId) {
            fetch('api/seafoods')
                .then(response => response.json())
                .then(data => {
                    let products = data.content;
                    if (categoryId !== '*') {
                        products = products.filter(seafood => seafood.category.id.toString() === categoryId);
                    }
                    seafoodList.innerHTML = ''; // Xóa danh sách hiện tại
                    products.slice(0, maxProducts).forEach(seafood => displaySeafood(seafood));
                })
                .catch(error => console.error('Error:', error));
        }

        // Gắn sự kiện click cho các thẻ li
        filterItems.forEach(item => {
            item.addEventListener('click', function () {
                filterItems.forEach(li => li.classList.remove('active')); // Xóa class 'active' hiện tại
                item.classList.add('active'); // Thêm class 'active' cho item được click
                const categoryId = item.getAttribute('data-filter'); // Lấy giá trị data-filter
                filterSeafood(categoryId); // Lọc và hiển thị sản phẩm theo category
            });
        });

        // Gọi hàm lọc khi trang được tải lần đầu
        filterSeafood('*');
    });
</script>
<script>
    $(document).ready(function () {
        // Sử dụng fetch để gọi API và cập nhật danh sách thể loại
        fetch('api/categories')
            .then(response => response.json())
            .then(data => {
                const categorySlider = $('#categorySlider');

                // Xóa mọi phần tử hiện tại trong danh sách thể loại
                categorySlider.empty();

                // Duyệt qua dữ liệu từ API và thêm các phần tử mới, nhưng chỉ đến 4 mục
                data.slice(0, 4).forEach(category => { // Sử dụng .slice(0, 4) để lấy chỉ 4 mục đầu tiên
                    const item = $('<div class="categories__item">' +
                        `<img src="${category.img}" alt="${category.name}">` +
                        `<h5><a href="/seafood/list?categoryId=${category.id}">${category.name}</a></h5>` +
                        '</div>');

                    categorySlider.append(item);
                });
            })
            .catch(error => console.error('Lỗi khi gọi API:', error));
    });

</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const categoryButton = document.getElementById('categoryButton');
        const categoryList = document.getElementById('categoryList');
        let isHidden = true;

        // Function to toggle the display of the categoryList
        function toggleCategoryList() {
            if (isHidden) {
                categoryList.style.display = 'block';
            } else {
                categoryList.style.display = 'none';
            }
            isHidden = !isHidden;
        }

        // Click event handler for the categoryButton
        categoryButton.addEventListener('click', function() {
            toggleCategoryList();
        });

        // Fetch categories from API and update the list when the page loads
        fetch('api/categories')
            .then(response => response.json())
            .then(data => {
                categoryList.innerHTML = ''; // Clear the existing list

                data.forEach(category => {
                    const li = document.createElement('li');
                    const a = document.createElement('a');
                    a.href = `/seafood/list?categoryId=${category.id}`;
                    a.textContent = category.name;

                    li.appendChild(a);
                    categoryList.appendChild(li);
                });
            })
            .catch(error => console.error('Lỗi khi gọi API:', error));
    });

    document.getElementById("searchButtonIndex").addEventListener("click", function (event) {
        event.preventDefault();
        const keyword = document.getElementById("searchInputIndex").value;
        // Chuyển hướng sang trang /seafood/list và truyền tham số keyword
        window.location.href = `/seafood/list?keyword=${encodeURIComponent(keyword)}`;
    });
</script>

</body>
</html>

