<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<th:block th:replace="layout :: header"></th:block>
<style>
    .coupon {
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        margin: 15px;
        padding: 15px;
    }
    .code:hover {
        background: royalblue;
        color: #fff;
        cursor: pointer
    }
    .col-md-6 {
        padding: 5px;
    }
</style>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-center row" id="promotionList">

    </div>
</div>
<th:block th:replace="layout :: footer"></th:block>
<script>
    function formatDate(isoDateString) {
        const date = new Date(isoDateString);
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Tháng trong JavaScript bắt đầu từ 0
        const year = date.getFullYear();
        return `${day}/${month}/${year}`;
    }
    function getPromotions() {
        fetch('/api/promotions')
            .then(response => response.json())
            .then(data => {
                const promotionList = document.getElementById('promotionList');
                promotionList.innerHTML = '';
                data.forEach(promotion => {
                    const formattedDate = formatDate(promotion.expired_day);
                    const promotionCardHTML = `
<div class="col-md-6">
            <div class="coupon p-3 bg-white">
<div class="row no-gutters">
<div class="col-md-4 border-right">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/img/banner/logo.png" width="90px" height="92px" alt="">
                            <span class="d-block">HSD: ${formattedDate}</span>
                            <span class="d-block">Còn lại: ${promotion.quantity}</span>
                            <span class="text-black-50"></span>
                        </div>
                    <div class="d-flex flex-column align-items-center"></div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <div class="d-flex flex-row justify-content-end off">
                                <h1 style="color: royalblue; font-weight: bold">${promotion.discount * 100}%</h1>
                                <span>GIẢM</span>
                            </div>
                            <div class="d-flex flex-row justify-content-between off px-3 p-2">
                                <span>Mã giảm giá:</span>
                                <span class="border border-primary px-3 rounded code" id="copyCode">
                                        ${promotion.code}</span>
                            </div>
                        </div>
                    </div>
                    </div></div></div>
`;
                    promotionList.innerHTML += promotionCardHTML;
                });
            })
            .catch(error => {
                console.error('Lỗi khi gọi API', error);
            });
    }
    window.addEventListener('load', getPromotions);
</script>
</body>
</html>